<!DOCTYPE html>
<html lang="ru" ng-app="sms-app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SMS APP</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- main styles -->
    <link rel="stylesheet" href="styles/main.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" >
      <div class="container" >
        <div class="navbar-header" >
          <a class="navbar-brand"
             href="/" >Logo
          </a >
           <span class="show-menu glyphicon glyphicon-menu-hamburger"></span>
        </div >

      </div >
    </nav >
    <div class="container page-container">
      
      <div class="row">
        <div class="col-md-8 dialogs" ng-controller="PersonsController">
          <div class="dialogs__header row">
            <div class="back">
              <a href="/dialogs.html"><span class="glyphicon glyphicon-arrow-left"></span></a>
            </div>
            <p class="title">
              Иван Иванов<br>
              <span class="title__number">На номер: Реклама(+380631234567)<span>
            </p>
            <div class="right">
              <span class="dialog-menu-btn glyphicon glyphicon-option-vertical"></span>
            </div>
            <div class="dialog-menu">
              <p><a href="/new-contact.html">Создать контакт</a></p>
              <p><a href="#">Удалить сообщение</a></p>
              <p><a href="#">Удалить диалог</a></p>
            </div>
          </div>

          <div class="chat">
              <div class="row" 
                  ng-repeat="message in messages">
                
                <div class="message {{ message.shown }}"
                  ng-class="{ 'admin' : 'message--admin'}[message.author]">
                  <p class="message__status" 
                    ng-class="{ 'sent' : 'message__status--sent'}[message.status]">
                    {{ message.status}}
                  </p>
                  <p class="message__time">{{ message.time }}</p>
                  <p>{{ message.text }}</p>
                  <p>{{ messaage.author }}</p>
                </div>
              </div>
              

          </div>
          <div class="chat-reply row">
            <a class="chat-reply__themplates" href="/themplates.html"><span class="glyphicon glyphicon-open-file"></span></a>
            <form action="" class="chat-reply__form">
              <input type="text" placeholder="Ваш ответ">
              <input type="submit">
            </form>
          </div>


          
          
        </div> <!-- End of the main content -->
        

        <!-- INCLUDING SIDEBAR -->
        <ng-include src="'themplates/sidebar.html'"></ng-include>
        
      </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
  </body>
</html>