<!DOCTYPE html>
<html lang="ru" ng-app="sms-app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SMS APP</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- main styles -->
    <link rel="stylesheet" href="styles/main.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" >
      <div class="container" >
        <div class="navbar-header" >
          <a class="navbar-brand"
             href="/" >Logo
          </a >
           <span class="show-menu glyphicon glyphicon-menu-hamburger"></span>
        </div >

      </div >
    </nav >
    <div class="container page-container">
      
      <div class="row">
        <div class="col-md-8 dialogs" ng-controller="PersonsController">
          <div class="dialogs__header row">
            <div class="back">
              <a href="/"><span class="glyphicon glyphicon-arrow-left"></span></a>
            </div>
            <p class="title title--mt">
            Диалоги с Иван Иванов</p>
            <form class="navbar-form navbar-form--bdtop navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <span class="glyphicon glyphicon-search"></span>
            </form>
          </div>
          <div class="dialogs-wrapper">
              <div class="dialog row"
                  ng-repeat="dialog in dialogs">
                <a href="/chat.html">
                  <div class="dialog__status"
                    ng-class="{ true : 'dialog__status--active' }[dialog.newMessage]"
                    ></div>
                  <p class="dialog__name">{{ dialog.topic }}</p>
                  <div class="dialog__time">{{ dialog.lastMessagetime | date:"dd.MM.yyyy HH:mm" }}</div>
                  <p class="dialog__phone"><strong>На номер</strong> ({{ dialog.address }})</p>
                  <p class="dialog__text">{{ dialog.lastMessageText }}</p>
                </a>
              </div>
          </div>
          
        </div> <!-- End of the main content -->
        

        <!-- INCLUDING SIDEBAR -->
        <ng-include src="'themplates/sidebar.html'"></ng-include>
        
      </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
  </body>
</html>