        <div class="col-md-8 dialogs" ng-init = "init('data/message.json', contact.template, 'data/template.json', 'data/onemessage.json' );" data-new = "data/onemessage.json">
          <div class="dialogs__header row">

            <div class="col-xs-2 col-sm-1 dialogs__header__button dialogs__header__button--bdr">
              <a ui-sref="dialogs({sender:contact.sender})"><span class="glyphicon glyphicon-arrow-left"></span></a>
            </div>
            <div class="col-xs-8 col-sm-10 text-left">
              <p class="title title--xsmall">
              <strong>{{ contact.sender }}</strong>
              </p>
              <p class="title title--xsmall">
                На номер: {{ contact.messages[0].to }}
              </p>
            </div>
            <div class="col-xs-2 col-sm-1 dialogs__header__button dialogs__header__button--bdl">
              <span class="dh-menu glyphicon glyphicon-option-vertical"></span>
            </div>
            
            <div class="dialog-menu">
              <p><a ui-sref="new-contact({sender:contact.sender})">Создать контакт</a></p>
              <p><a href="#" ng-click="deleteLastMessage('data/message.json')">Удалить сообщение</a></p>
              <p><a href="#" ng-click="deleteDialog('data/message.json')">Удалить диалог</a></p>
            </div>
          </div>

          <div class="chat" scroll>
              <div class="row" 
                  ng-repeat="message in contact.messages" load-chat-end="finished()">
                
                <div class="message {{ message.readed }}"
                  ng-class="{ 'receiving' : 'message--admin'}[message.status]">
                  <p class="message__status" 
                    ng-class="{ 'delivered'  : 'message__status--sent'}[message.status]">
                    {{ message.status}}
                  </p>
                  <p class="message__time">{{ message.sent }}</p>
                  <p>{{ message.body }}</p>
                  <p>{{ messaage.from }}</p>
                </div>
              </div>
              

          </div>
          <form action="" class="chat-reply row">
            <div class="col-xs-2 col-sm-1 chat-reply__templates">
              <a class="" ui-sref="templates({sender:contact.sender})"><span class="glyphicon glyphicon-open-file"></span></a>
            </div>
            <div class="col-xs-6 col-sm-8 chat-reply__message">
              
              <input type="text" placeholder="Ваш ответ" ng-model="contact.textMessage">
            </div>
            <div class="col-xs-4 col-sm-3 chat-reply__button">
              <input type="submit" ng-click="contact.sendMessage('data/message.json')">
            </div>
          </form>
          
        </div> <!-- End of the main content -->
