<div class="col-md-8 dialogs" ng-init="loadContact('data/onecontact.json')">

          <div class="dialogs__header row">
             <div class="col-xs-2 col-sm-1 dialogs__header__button dialogs__header__button--bdr">
              <a ui-sref="contacts"><span class="glyphicon glyphicon-arrow-left"></span></a>
            </div>

            <div class="col-xs-10 col-sm-11">
              <p class="title">
              {{ contact.sender }}</p>
            </div>
          </div>

          <div class="nt-form-wrapper row">
            
            <form ng-submit="contactUpdate('data/onemessage.json')">
              <div class="form-group">

                <input type="text" class="form-control" id="exampleInputEmail1" value="{{ onecontact.name }}" placeholder="Название контакта">
              </div>
              <div class="form-group">

                <input type="telephone" class="form-control" id="exampleInputEmail1" value="{{ onecontact.phone }}" placeholder="Телефон">
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Примечание"> {{ onecontact.about }} </textarea>
              </div>
              <button type="button" class="btn btn-default btn-lg btn-block" ui-sref="dialogs({sender:contact.sender})">Диалоги</button>
              <br>
              <button type="submit" class="btn btn-default">Сохранить контакт</button>
              <button type="button" class="btn btn-danger pull-right" ng-click="deleteContact()">Удалить контакт</button>
            </form>
          </div>
          
        </div> <!-- End of the main content -->