<div class="col-md-8 dialogs" ng-init="loadContacts('data/notebook.json')">
          <div class="dialogs__header row">
            <div class="col-xs-2 col-sm-1 dialogs__header__button dialogs__header__button--bdr">
              <a ui-sref="inbox"><span class="glyphicon glyphicon-arrow-left"></span></a>
            </div>
            <div class="col-xs-10 col-sm-11">
              
              <p class="title">Контакты
              </p>
              <form class="navbar-form navbar-right search-field" role="search">
                <div class="form-group">
                  <input type="text" 
                    class="form-control"
                    ng-model="contact.search" 
                    ng-model-options="{ debounce: 300 }" 
                    placeholder="Search">
                </div>
              </form>
              <span class="glyphicon glyphicon-search search-button"></span>
            </div>
          </div>

          <div class="dialog row"
              ng-repeat="person in contact.contacts"
              ng-click="contact.sender = person.phone">
            <div class="col-sm-11 col-sm-offset-1 col-xs-offset-0">
              <a ui-sref="contact({sender:person.phone})"
                ng-click="expression">
                <p class="dialog__name">{{ person.name }}</p>
                <p class="dialog__text">{{ person.phone }}</p>
              </a>
            </div>
          </div>
          
        </div> <!-- End of the main content -->