

<div class="col-md-8 dialogs" ng-init="loadDialogs('data/message.json');">
  <div class="dialogs__header row">
    <div class="col-xs-2 col-sm-1 dialogs__header__button dialogs__header__button--bdr">

          <a ui-sref="inbox"><span class="glyphicon glyphicon-arrow-left"></span></a>

    </div>
    <div class="col-xs-10 col-sm-11">
      <p class="title title--small">
      {{ loadDialogs }}
      Диалоги с {{ contact.sender }}</p>
    </div>
  </div>
  <div class="dialogs-wrapper">
      <div class="dialog row"
        ng-repeat="dialog in dialogs | filter: contact.sender">
            
        <div class="dialog__status col-xs-1"
          ng-class="{ false : 'dialog__status--active' }[dialog.readed]"
          ></div>
        <div class="dialog__body col-xs-10">
          <a ui-sref="chat({sender:contact.sender})" data-href="data/message.json">
            <div class="dialog__time">{{ dialog.sent | date:"dd.MM.yyyy HH:mm" }}</div>
            <p class="dialog__name "
              ng-class="{ false : 'dialog__name--new' }[dialog.readed]"
            >{{ dialog.to }}</p>
            <p class="dialog__text">{{ dialog.body }}</p>
          </a>
        </div>
   
      </div>
  </div>
  
</div> <!-- End of the main content -->
