        <div class="dialogs col-md-8" data-url="data/message.json" data-new="data/onemessage.json">
          <div class="dialogs__header row">
            <div class="col-sm-11 col-sm-offset-1 col-xs-offset-0">
              
              <p class="title">Диалоги
              </p>
              <form class="navbar-form navbar-right search-field" role="search">
                <div class="form-group">
                  <input type="text" 
                    class="form-control" 
                    ng-model="contact.search" 
                    ng-model-options="{ debounce: 300 }" 
                    placeholder="Search">
                </div>
              </form>
              <span class="glyphicon glyphicon-search search-button"></span>
            </div>
          </div> <!-- end row -->

          <div class="dialogs-wrapper" 
            infinite-scroll="contact.loadMoreInbox()"
            infinite-scroll-distance="1" >
            <div class="dialog row"
                ng-repeat="message in contact.messages"
                ng-click="contact.sender = message.from">

                <div class="dialog__status col-xs-1"
                  ng-class="{ false : 'dialog__status--active' }[message.readed]"
                  ></div>
                <div class="dialog__body col-xs-10">
                  <a ui-sref="dialogs({sender:message.from})" data-href="data/message.json">
                    <div class="dialog__time">{{ message.sent | date:" HH:mm" }}</div>
                    <p class="dialog__name "
                      ng-class="{ false : 'dialog__name--new' }[message.readed]"
                    >{{ message.from}}</p>
                    <p class="dialog__phone"><strong>На номер: </strong> {{ message.to}}</p>
                    <p class="dialog__text">{{ message.body }}</p>
                  </a>
                </div>
            </div> <!-- d-row end -->
          </div> <!-- d-wrapper end -->
  
        </div> <!-- End of the main content -->
