<div class="col-md-8 dialogs">
          <div class="dialogs__header row">
            <div class="col-xs-2 col-sm-1 dialogs__header__button dialogs__header__button--bdr">
              <a ui-sref="chat({sender:contact.sender})"><span class="glyphicon glyphicon-arrow-left"></span></a>
            </div>

            <div class="col-xs-10 col-sm-11">
              <p class="title title--xsmall">
              Новый контакт </p>
              <p class="title title--xsmall">
              {{ contact.sender }}</p>
            </div>
          </div>

          <div class="nt-form-wrapper row">
            
            <form ng-submit="creatContact('data/onemessage.json')">
              <div class="form-group">

                <input type="text" class="form-control" id="exampleInputEmail1" ng-model="name" placeholder="Название контакта">
              </div>
              <div class="form-group">

                <input type="telephone" class="form-control" id="exampleInputEmail1" ng-model="phone" value="{{contact.sender}}">
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="3" ng-model="about" placeholder="Примичание"></textarea>
              </div>
              <input type="submit" class="btn btn-default" value="Сохранить контакт" />
<!--               <button type="submit" class="btn btn-default">Сохранить контакт</button>
 -->            </form>
          </div>
          
        </div> <!-- End of the main content -->