<div class="sidebar-wrapper col-md-4">
          <div class="sidebar">
            <p><a class="sidebar__link" ui-sref="inbox">Сообщения</a></p>
            <p><a class="sidebar__link" ui-sref="contacts">Контакты</a></p>
            <p><a class="sidebar__link" ui-sref="templateslist">Шаблоны</a></p>
           
          </div>
        </div>