<div class="col-md-8 dialogs" ng-init="loadTemplates('data/template.json')">
  <div class="dialogs__header row">

    <div class="col-sm-10 col-xs-10 col-sm-offset-1 col-xs-offset-0">
      <p class="title">
      Шаблоны ответов</p>
    </div>
    <div class="col-xs-2 col-sm-1 dialogs__header__button dialogs__header__button--bdl">
      <a ui-sref="new-template"><span class="glyphicon glyphicon-plus"></span></a>    
    </div>
  </div>
  <div class="dialogs-wrapper">
    
    <div class="dialog row"
        ng-repeat="template in templates">
        <div class="col-sm-11 col-sm-offset-1 col-xs-offset-0">
          <a ui-sref="template({template: contact.template})"
                 ng-click = " contact.template =  template.name ">
            <p class="dialog__name">
              
                {{ template.name }}
               
            </p>
            <p class="dialog__text">{{ template.about }}</p>
          </a>
        </div>
    </div>

  </div>
  
</div> <!-- End of the main content -->