<div class="col-md-8 dialogs" ng-init="loadTemplate('data/template.json', contact.template)">
          <div class="dialogs__header row">
            <div class="col-xs-2 col-sm-1 dialogs__header__button dialogs__header__button--bdr">
              <a ui-sref="templateslist"><span class="glyphicon glyphicon-arrow-left"></span></a>
            </div>

            <div class="col-xs-10 col-sm-11">
              <p class="title title--small">
               Шаблон "{{ contact.template }}</p>
            </div>
          </div>
           

          <div class="nt-form-wrapper row">
            
            <form ng-submit="updateTemplate('data/template.json')">
              <div class="form-group">

                <input type="text" class="form-control" placeholder="Название шаблона" 
                  value="{{ contact.template }}"
                  ng-model="contact.template">
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Текст шаблона сообщения" ng-model="contact.templateText">{{ contact.templateText }}</textarea>
              </div>
              <button type="submit" class="btn btn-default">Обновить шаблон</button>
              <button type="button" class="btn btn-danger" ng-click="deleteTemplate(url)">Удалить шаблон</button>
            </form>
          </div>
          
        </div> <!-- End of the main content -->
