.page-flex
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0

.login
    width: 350px
    background-color: #f5f3f0
    padding: 20px
    -webkit-box-shadow: 0px 0px 10px 1px rgba(194,194,194,0.7)
    -moz-box-shadow: 0px 0px 10px 1px rgba(194,194,194,0.7)
    box-shadow: 0px 0px 10px 1px rgba(194,194,194,0.7)
    @media(max-width: 500)
        width: 100%
    a
        text-decoration: underline