
.chat
	padding: 20px 35px
	margin: 0 -15px
	height: 460px
	overflow-y: scroll

	.message
		position: relative
		margin: 10px 0
		border: 1px solid #AADAC0
		padding: 10px 20px
		width: 80%
		background-color: $message
		&--admin
			border: 1px solid #CCD4CC
			background-color: #DBE6DB
			float: right
		&--new
			background-color: $new-message

		&__status
			position: absolute
			right: 15px
			top: 10px
			color: #ABACAD
			&--sent
				color: #065783
