.chat-reply
	border-color: #2a88bd
	border: 1px solid #2a88bd
	box-sizing: border-box
	height: 60px

	&__templates
		text-align: center
		border-right: 1px solid $blue
		&:hover
			background-color: $blue
			a
				color: white
		a
			font-size: 2em
			line-height: 58px
			text-align: center
	
	&__message
		padding: 0
		input
			width: 100%
			border: 0
			height: 58px
			padding: 15px

	&__button
		padding: 0
		input
			border: 0
			width: 100%
			height: 58px
			background-color: $blue
			color: white