.dialogs
    @media(min-width: $small)
        border: 1px solid #d3e0e9
        border-top-left-radius: 5px
        border-top-right-radius: 5px

    &__header
        height: 60px
        text-align: center
        border-bottom: 1px solid #d3e0e9

        @media(min-width: $small)
            text-align: right
        
        &__button
            height: 60px
            text-align: center
            cursor: pointer
            &--bdr
                border-right: $border
                @media(min-width: $small)
                    border-top-left-radius: 5px
            &--bdl
                border-left: $border
                @media(min-width: $small)
                    border-top-right-radius: 5px
            &:hover
                background-color: $blue
                a,
                .dh-menu
                    color: white

            a
                line-height: 60px
                font-size: 1.5em
                color: $blue
            .dh-menu
                color: $blue
                font-size: 1.5em
                line-height: 60px

    .title
        font-size: 2em
        display: inline-block
        line-height: 60px
        margin-bottom: 0
        @media(min-width: $small)
            float: left
        &--small
            font-size: 1.2em
        &--xsmall
            font-size: 1em
            line-height: 1em
            text-align: left
            @media(min-width: $small)
                font-size: 1.2em
                display: block
                float: none !important
                margin-top: 10px

    .navbar-form.search-field
        display: none
        @media(min-width: $small)
            display: inline-block
            float: none !important
            line-height: 40px

    .search-field.shown 
        @media(max-width: $small - 1)
            display: inline-block;
            position: absolute;
            left: 15px;
            width: 80%;
            top: -5px;

    .search-button
        width: 60px
        text-align: center
        line-height: 60px
        font-size: 2em
        float: right
        display: inline-block
        cursor: pointer 
        @media(min-width: $small)
            float: right
            line-height: 58px


.dialogs--pad-left
    @media(min-width: $small)
        padding-left: 70px

    
.dialog
    border-bottom: $border
    padding: 10px 0
    text-align: left
    &:hover
        background: rgba( 0, 0, 0, 0.1)
    @media(min-width: $small)
        padding: 10px 0

    a
        cursor: pointer
        color: inherit
        &:hover
            text-decoration: none

    &__status
        height: 100%
        line-height: 85px
        &--active
            &:before
                content: ""
                display: inline-block
                // margin-top: 35px
                width: 15px
                height: 15px
                background-color: green
                border-radius: 8px
                @media(min-width: $small)
                    margin-left: 10px

    &__time
        font-size: 0.8em
        @media(min-width: $small)
            font-size: 1em
            position: absolute
            right: 10px
            top: 5px

    &__name
        font-size: 1.2em
        margin-bottom: 0px
        color: $blue
        @media(min-width: $small)
            font-size: 1.5em
        &--new
            font-weight: 700

    &__phone
        font-size: 0.9em
        margin-bottom: 0px
        @media(min-width: $small)
            font-size: 1em

    &__text
        font-size: 0.8em
        margin-bottom: 0
        @media(min-width: $small)
            font-size: 1em  





    

