.dialog-menu
	position: absolute
	display: none
	top: 60px
	right: 0
	z-index: 100
	padding: 10px 40px
	border: 1px solid #d3e0e9
	background-color: #fff
	border-radius: 0 0 5px 5px
.dialog-menu.shown
	display: block