.navbar-header
	margin-left: 0 !important
	@media(max-width: 991px)
	    width: 100%
.show-menu
	display: none
	float: right
	color: #fff
	font-size: 30px
	margin-top: 10px
	margin-right: 10px
	cursor: pointer
	@media(max-width: 991px)
		display: inline-block