.sidebar-wrapper
	transition: all 0.5s ease-in-out;
	@media(max-width: 993px)
		position: fixed
		top: 51px
		bottom: 0px
		right: -160px
		border: 1px solid black
		background-color: #FFF
		overflow: hidden

.sidebar
	border-top-right-radius: 5px
	border-top-left-radius: 5px
	border: 1px solid #d3e0e9
	padding: 20px
	@media(max-width: 993px)
		border-top-right-radius: 0px
		border-top-left-radius: 0px
		border: 0px
