.template
    position: relative
    border: 1px solid #d3e0e9
    border-top: 0px
    padding: 10px 0

    &__name
        font-size: 1.2em
        margin-bottom: 0px
        color: $blue
        @media(min-width: $small)
            font-size: 1.5em
    &__text
        font-size: 0.8em
        margin-bottom: 0
        @media(min-width: $small)
            font-size: 1em  